* {
    font-family: 'Roboto', sans-serif;
}

.figure {
    width: 100%;
}

.md-50-else-100 {
    width: 100%;

    @media (min-width: 768px) {
        & {
            width: 50%;
        }
    }
}

.md-margin-right {
    @media (min-width: 768px) {
        & {
            margin-right: 5px;
        }
    }
}

.md-margin-left {
    @media (min-width: 768px) {
        & {
            margin-left: 5px;
        }
    }
}