$footer-background: #dddd;
$footer-text-color: #111;
$footer-text-color-slightly-lighter: #555;

.footer {
    background-color: $footer-background;
    color: $footer-text-color;
    margin-top: 30px;
    padding: 50px 0;

    .footer-thanking {
        font-size: .8em;

        .footer-thanking-text {
            max-width: 500px;
            margin: 0 auto;
            text-align: justify;
            text-align-last: center;
        }
    }

    .team-year-credits {
        margin-top: 30px;
        text-align: center;

        .team-year-credits-text {
            border-top: 1px solid $footer-text-color;
            padding-top: 5px;
            max-width: 500px;
            margin: 0 auto;
        }
    }

    .authors {
        margin-bottom: 40px;
        .authors-heading {
            margin-bottom: 5px;
            .authors-heading-text {
                font-size: 1.6em;
                max-width: 200px;
                border-bottom: 3px solid #0da540;
            }
        }
        .author-block {
            box-sizing: border-box;
            padding: 5px 0;

            .author-name {

            }
            .author-institution {
                font-size: .75em;
                color: $footer-text-color-slightly-lighter;
            }
        }

        @media (min-width: 768px) {
            .row > div:nth-child(even) .author-block {
                text-align: right;
            }
        }   
    }

    a {
        color: #0da540;
        font-weight: bold;
    }
}