$footer-background: #dddd;
$footer-text-color: #111;
$footer-text-color-slightly-lighter: #555;
$scroll-top-section-radius: 80px;


.footer {
    background-color: $footer-background;
    color: $footer-text-color;
    margin-top: 30px + $scroll-top-section-radius;
    padding: 50px 0;
    position: relative;

    .footer-thanking {
        font-size: .8em;

        .footer-thanking-text {
            max-width: 500px;
            margin: 0 auto;
            text-align: justify;
            text-align-last: center;
        }
    }

    .team-year-credits {
        margin-top: 30px;
        text-align: center;

        .team-year-credits-text {
            border-top: 1px solid $footer-text-color;
            padding-top: 5px;
            max-width: 500px;
            margin: 0 auto;
        }
    }

    .authors {
        margin-bottom: 40px;
        .authors-heading {
            margin-bottom: 5px;
            .authors-heading-text {
                font-size: 1.6em;
                max-width: 200px;
                border-bottom: 3px solid #0da540;
            }
        }
        .author-block {
            box-sizing: border-box;
            padding: 10px 0;

            .author-name {
                
            }
            .author-institution {
                font-size: .75em;
                color: $footer-text-color-slightly-lighter;
            }
            .author-contacts {
                margin-top: 5px;
                height: 1.5em;
                img {
                    max-height: 100%;
                }

                & > *:not(:last-child) {
                    margin-right: 10px;
                }
            }
        }

        @media (min-width: 768px) {
            .row > div:nth-child(even) .author-block {
                text-align: right;
            }
        } 
        
        // @media (max-width: 768px) {
        //     .author-block {
        //         text-align: center;
        //     }
        // }
    }

    a {
        color: #0da540;
        font-weight: bold;
    }

    .scroll-top-section {
        $size: $scroll-top-section-radius;

        height: $size;
        width: $size * 2;
        border-top-left-radius: $size * 2;
        border-top-right-radius: $size * 2;

        position: absolute;
        left: 50%;
        top: 0; 
        transform: translate(-50%, -$size);
        background-color: $footer-background;
        text-align: center;
        #scroll-top-button {
            cursor: pointer;
            margin-top: 25px;
            $button-size: 50px;
            display: inline-block;
            width: $button-size;
            height: $button-size;
            line-height: $button-size;
            border-radius: 100%;
            font-size: 2.5em;
            color: $footer-text-color-slightly-lighter;
            transition: color 400ms ease;
            &:hover {
                color: $footer-text-color;
            }
        }
    }
}