.header {
    margin: 5px 0 10px 0;

    .heading-block {
        padding-top: 20px;
        h1 {
            text-align: center; 
            // font-family: 'Corinthia', cursive;
            font-family: 'Titillium Web', sans-serif;
        }
    }

    .repo-github {
        padding: 10px 0;
        text-align: center;
    }

    .short-heading-notes {
        border-top: 1px solid black; 
        border-bottom: 2px solid black; 
        text-align: center;
    }
}