.introduction {
    .introduction-message {
        font-family: 'Calligraffitti', cursive; 
        font-size: 1.8em;
    }
    .introduction-photo {
        img {
            width: 100%;
        }
    }
}